{% extends "base_narrow.html" %}
{% block content %}
	<h1>SPRINT BACKLOG DETAIL</h1>
	<div class="card w-50">
		<div class="card-body">
			<h2 class="card-title">{{ sprint.title }}</h2>
			<h5 class="card-subtitle text-muted">{{ sprint.status }}</h5>
			<br>
    		<h6>Available effort</h6>
    		<p>{{ sprint.available_effort }}</p>
    		<br>

    		<h6>Start date</h6>
    		<p>{{ sprint.start_date }}</p>
    		<br>

    		<h6>Details</h6>
    		<p style="text-align: justify;" >{{ sprint.details }}</p>
	    	<div class="toolbar">
	    	{% if editable %}
	    		<a class= "btn btn-outline-info" role="button" href="{% url 'sprintBacklog-edit' project.slug sprint.pk %}">Edit</a>
	    		<a class="btn btn-outline-danger" role="button" href="{% url 'sprintBacklog-delete' project.slug sprint.pk %}">Delete</a>
	    	{% else %}
	    		<a class= "btn btn-outline-info disabled" role="button" aria-disabled="true" href="{% url 'sprintBacklog-edit' project.slug sprint.pk %}">Edit</a>
	    		<a class="btn btn-outline-danger disabled" role="button" aria-disabled="true" href="{% url 'sprintBacklog-delete' project.slug sprint.pk %}">Delete</a>
	    	{% endif %}
	    	</div>
    	</div>
	</div>


{% endblock content %}