
{% extends "base.html" %}
{% block content %}
	<h1>SPRINT BACKLOG - {{ project.title }}</h1>
	<ul class="nav nav-tabs" align="right">
		{% for s in all_sprint %}
		<li class="nav-item">
			{% if s.pk == sprint.pk %}
				<a class="nav-link active" href="{% url 'sprintBacklog-detail' project.slug s.pk %}">{{ s.title }} - {{ sprint.status }}</a>
			{% else %}
				<a class="nav-link" href="{% url 'sprint-home' project.slug s.pk %}">{{ s.title }}</a>
			{% endif %}
		</li>
		{% endfor %}
		{% if lastSprintEnded %}
		<li class="nav-item">

			{%if user.position == '3'%}
				<a class="btn btn-outline-info ml-2" href="{% url 'sprintBacklog-create' project.slug %}">New Sprint</a>
			{%endif%}
		</li>
		{% endif %}
		{% if sprint.status == 'Not Started' %}
		<li class="nav-item">
			{%if user.position == '3'%}
				<a class="btn btn-outline-info ml-2" href="{% url 'sprintBacklog-select' project.slug sprint.pk%}">Select PBI</a>

			{%endif%}
		</li>
		{% endif %}
		{% if sprint.status != 'Ended' %}
		<li class="nav-item">
			{% if sprint.status == 'Not Started' %}
				{%if user.position == '3'%}
					<form action="{% url 'sprintBacklog-start' project.slug sprint.pk%}"  method="POST">{% csrf_token %}
					<button class="btn btn-outline-info ml-2">Start Sprint</button>
					</form>
				{%else%}

					<a class="btn btn-outline-info ml-2" href="#">Waiting Developers to start the sprint</a>
				{%endif%}
			{% elif sprint.status == 'Started' %}
				{%if user.position == '3'%}
					<form action="{% url 'sprintBacklog-end' project.slug sprint.pk%}"  method="POST">{% csrf_token %}
					<button class="btn btn-outline-info ml-2">End Sprint</button>
					</form>
				{%endif%}
			{% endif %}
		</li>
		{% endif %}

	</ul>
	</br>

	<div class="container-fluid">
	<div class="card-group">
		<div class="col-sm card">
			<div class="card-body">
				<h5 class="card-title">Burn-down Effort</h5>
				<h4 class="card-text" style="text-align: right">{{ stat.completed }} hrs</h4>
			</div>
		</div>
		<div class="col-sm card">
			<div class="card-body">
				<h5 class="card-title">Available Effort</h5>
				<h4 class="card-text" style="text-align: right">{{ stat.available }} hrs</h4>
			</div>
		</div>
		<div class="col-sm card">
			<div class="card-body">
				<h5 class="card-title">Used Effort</h5>
				<h4 class="card-text" style="text-align: right">{{ stat.used }} hrs</h4>
			</div>
		</div>
		<div class="col-sm card">
			<div class="card-body">
				<h5 class="card-title">Remaining Effort</h5>
				<h4 class="card-text" style="text-align: right">{{ stat.remaining }} hrs</h4>
			</div>
		</div>		
	</div>
	</div>

	</br>
	<div class="container">
		<div class="row">
			<div class="col-md">
				<h6 class="text-muted">PBI</h6>
			</div>
			<div class="col-md">
				<h6 class="text-muted">To Do</h6>
			</div>
			<div class="col-md">
				<h6 class="text-muted">Doing</h6>
			</div>
			<div class="col-md">
				<h6 class="text-muted">Done</h6>
			</div>
		</div>
	</div>

	{% for t in task %}
	<div class="container">
		<div class="row">
			<div class="col-sm card">
				<div class="card-body d-flex flex-column">
					<a href="{% url 'productBacklog-detail' project.slug t.pbi.pk %}"><h3 class="card-title">{{ t.pbi.title }}</h3></a>
					</br>
					<h5 class="card-text mt-auto" style="text-align: right">{{ t.finish }}/{{ t.not_finish }} hrs</h5>
					{% if sprint.status == "Not Started" %}
						{% if user.position == '3'%}
							<a href="{% url 'task-create' project.slug sprint.pk t.pbi.pk %}" class="btn btn-outline-info btn-sm mt-auto mb-1">New Task</a>
						{%endif%}
						{%if user.position == '3'%}
							<a href="{% url 'sprintBacklog-remove' project.slug sprint.pk t.pbi.pk %}" class="btn btn-outline-danger btn-sm mt-auto">Remove PBI</a>
						{%endif%}
					{% endif %}
				</div>
			</div>

			<div class="col-md">
			{% for i in t.todo %}
				<div class="card">
					<div class="card-body">
						<a href="{% url 'task-detail' project.slug sprint.pk i.pk %}">
							<h5 class="card-title">{{ i.title }}</h5>
						</a>
						<h6 class="card-subtitle mb-2 text-muted">{{ i.task_owner }}</h6>

						<p class="card-text" style="text-align: right;">{{ i.effort }} hrs</p>
					</div>
				</div class="card">
			{% endfor %}
			</div>

			<div class="col-md">
			{% for i in t.doing %}
				<div class="card">
					<div class="card-body">
						<a href="{% url 'task-detail' project.slug sprint.pk i.pk %}">
							<h5 class="card-title">{{ i.title }}</h5>
						</a>
						<h6 class="card-subtitle mb-2 text-muted">{{ i.task_owner }}</h6>
						<p class="card-text" style="text-align: right;">{{ i.effort }} hrs</p>
					</div>
				</div class="card">
			{% endfor %}
			</div>
			<div class="col-md">
			{% for i in t.done %}
				<div class="card">
					<div class="card-body">
						<a href="{% url 'task-detail' project.slug sprint.pk i.pk %}">
							<h5 class="card-title">{{ i.title }}</h5>
						</a>
						<h6 class="card-subtitle mb-2 text-muted">{{ i.task_owner }}</h6>
						<p class="card-text" style="text-align: right;">{{ i.effort }} hrs</p>
					</div>
				</div class="card">
			{% endfor %}
			</div>
		</div>
	</div>
	</br>
	{% endfor %}

{% endblock content %}
