{% extends "base_narrow.html" %}
{% block content %}
	<h1>TASK DETAIL</h1>
	<div class="card w-50">
		<div class="card-body">
			<h2 class="card-title">{{ task.title }}</h2>
			<h5 class="card-subtitle text-muted">{{ task.sprint }}</h5>
			<br>
    		<h6>Effort</h6>
    		<p>{{ task.effort }}</p>
    		<br>

    		<h6>Status</h6>
    		<p>{{ task.status }}</p>
    		<br>

    		<h6>Details</h6>
    		<p style="text-align: justify;" >{{ task.details }}</p>
    		<br>
	    	
	    	<div class="toolbar">
	    		<a class= "btn btn-outline-info" href="{% url 'sprintBacklog-edit' project.slug sprint.pk %}">Edit</a>
	    		<a class="btn btn-outline-danger" href="{% url 'sprintBacklog-delete' project.slug sprint.pk %}">Delete</a>
	    	</div>
    	</div>
	</div>


{% endblock content %}