{% extends "base_narrow.html" %}
{% block content %}
	<h1>TASK DETAIL</h1>
	<div class="card w-50">
		<div class="card-body">
			<h2 class="card-title">{{ task.title }}</h2>
			<h5 class="card-subtitle text-muted mb-3">{{ task.status }}</h5>

			<h6>Task Owner</h6>
    		<p class="mb-3">{{ task.task_owner}}</p>

    		<h6>Effort</h6>
    		<p class="mb-3">{{ task.effort }} hrs</p>

    		<h6>PBI</h6>
    		<p class="mb-3">{{ task.PBI.title }}</p>

    		<h6>Details</h6>
    		<p class="mb-3" style="text-align: justify;" >{{ task.details }}</p>
	    	
	    	<div class="toolbar">
	    		{% if editable %}
	    			{% if task.task_owner == user or task.task_owner == none%}
	    				<a class= "btn btn-outline-info" href="{% url 'task-update' project.slug sprint.pk task.pk %}">Edit</a>
	    				<a class="btn btn-outline-danger" href="{% url 'task-delete' project.slug sprint.pk task.pk %}">Delete</a>
	    			{%else%}
	    				<h6 style="color:red;">You are not task owner. Cant edit or delete.</h6>
					{%endif%}
	    		
	    		
	    		{% endif %}
	    	</div>
    	</div>
	</div>


{% endblock content %}