{% extends "base.html" %}
{% block content %}
<style>
th, td {
	padding: 10px;
	text-align: center;
}

</style>
	<h2>PRODUCT BACKLOG DETAIL</h2>
	<table style="width: 100%">
		<tr>
			<th>ID</th>
    		<th>Title</th>
    		<th>Status</th>
    		<th>Sprint <br/> number</th>
    		<th>Estimated<br/>story point</th>
    		<th>Detail</th>
    		<th></th>
    		<th></th>
    	</tr>
		
		<tr>
			<td>{{ PBI.id }}</td>
			<td class='pbi-title'>{{ PBI.title }}</td>
			<td>{{ PBI.status }}</td>
			<td> to do </td>
			<td>{{ PBI.ESP }}</td>
			<td width="35%"; style="text-align: justify;">{{ PBI.details }}</td>
			<td>edit</td>
			<td>delete</td>
		</tr>

	</table>
{% endblock content %}