{% extends "base_narrow.html" %}
{% block content %}
	<h1>PRODUCT BACKLOG ITEM DETAIL</h1>
	<br>
	<div class="card w-50">
		<div class="card-body">
    		<h2 class="card-title">{{ PBI.pbi.title }}</h2>
			<h5 class="card-subtitle text-muted mb-3">{{ PBI.pbi.status }}</h5>

    		<h6>Sprint number</h6>
			<p class="mb-3">{{ PBI.sprint_number }}</p>

    		<h6>Estimated story point</h6>
			<p class="mb-3">{{ PBI.pbi.ESP }}</p>

    		<h6>Detail</h6>
			<p class="mb-3" style="text-align: justify;">{{ PBI.pbi.details }}</p>

			<div class="toolbar">
			
			{%if user.position == '1' %}
				{% if editable %}
		    		<a class= "btn btn-outline-info" role="button" href="{% url 'productBacklog-update' project.slug PBI.pbi.pk%}">Edit</a>
					<a class="btn btn-outline-danger" role="button" href="{% url 'productBacklog-delete' project.slug PBI.pbi.pk%}">Delete</a>
				{% else %}
						
					<h6 style="color:red;">This Product Backlog Item is not editable. </h6>
					
				{% endif %}

			{%else%}
					<h6 style="color:red;">You are not product owner, can't edit or delete. </h6>
			{%endif%}


			</div>
		</div>
	</div>
{% endblock content %}