{% extends "base_narrow.html" %}
{% block content %}
	<h1>PRODUCT BACKLOG ITEM DETAIL</h1>
	<br>
	<div class="card w-50">
		<div class="card-body">
    		<h2 class="card-title">{{ PBI.pbi.title }}</h2>
			<h5 class="card-subtitle text-muted">{{ PBI.pbi.status }}</h5>
			<br>

    		<h6>Sprint number</h6>
			<p>{{ PBI.sprint_number }}</p>
			<br>

    		<h6>Estimated story point</h6>
			<p>{{ PBI.pbi.ESP }}</p>
			<br>

    		<h6>Detail</h6>
			<p style="text-align: justify;">{{ PBI.pbi.details }}</p>

			<div class="toolbar">
				<a class= "btn btn-outline-info" href="{% url 'productBacklog-update' project.slug PBI.pbi.pk%}">Edit</a>
				<a class="btn btn-outline-danger" href="{% url 'productBacklog-delete' project.slug PBI.pbi.pk%}">Delete</a>
			</div>
		</div>
	</div>
{% endblock content %}