
{% extends "base.html" %}
{% block content %}
<style>
th, td {
	padding: 10px;
	text-align: center;
}

</style>
	<h2>PRODUCT BACKLOG</h2>
	<button class="btn btn-outline-info"><a href="{% url 'productBacklog-create'%}">Create New Item</a></button>

	<table style="width: 100%">
		<tr>
			<th>Priority</th>
    		<th>Title</th>
    		<th>Status</th>
    		<th>Sprint <br/> number</th>
    		<th>Estimated<br/>story point</th>
    		<th>Detail</th>
    		<th></th>
    		<th></th>
    	</tr>
		{% for PBI in dict %}
		<tr>
			<td>{{ PBI.priority }}</td>
			<td><a class='pbi-title' href="{% url 'productBacklog-detail' PBI.id%}">{{ PBI.title }}</a></td>
			<td>{{ PBI.status }}</td>
			<td> to do </td>
			<td>{{ PBI.ESP }}</td>
			<td width="35%"; style="text-align: justify;">{{ PBI.details }}</td>
			<td>edit</td>
			<td>
			<form action="http://127.0.0.1:8000/product/delete/" method="post">
				{% csrf_token %}
				<input type="text" value="{{ PBI.id }}" name="id" hidden/>
				<button>delete</button>
			</form>
			</td>

		</tr>
		{% endfor %}
	</table>
{% endblock content %}
