
{% extends "base.html" %}
{% block content %}
<style>
td, th {
  text-align: center;
}
</style>
	<div class="col">
	<h1>PRODUCT BACKLOG - {{ project.title }}</h1>

	<ul class="nav nav-tabs" align="right">

		<li class="nav-item">
				<a class="nav-link" href="{% url 'productBacklog-home' project.slug %}">To be Implemented</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" href="">All</a>
		</li>
		<li class="nav-item">
			{%if user.position == '1'%}
				<a href="{% url 'productBacklog-create' project.slug%}" class="btn btn-outline-info ml-2">Create New Item</a>
			{%endif%}
		</li>
	</ul>
	<table class="table table-hover" >
		<thead class="thead-light">
			<tr>
	    		<th>Title</th>
	    		<th>Status</th>
	    		<th>Sprint number</th>
	    		<th>Estimated story point</th>
	    		<th>Detail</th>
	    	</tr>
    	</thead>
    	<tbody>
			{% for i in PBIs %}
			<tr>
				{% if i.pbi.status == "To Do" or i.pbi.status == "Doing" %}
					<td><a class="pbi-title" data-toggle="tooltip" data-placement="top" title="edit/delete" href="{% url 'productBacklog-detail' project.slug i.pbi.pk%}">{{ i.pbi.title }}</a></td>
					<td>{{ i.pbi.status }}</td>
					<td>{{ i.sprint_number }}</td>
					<td>{{ i.pbi.ESP }}</td>
					<td width="25%"; style="text-align: justify;">{{ i.pbi.details }}
				{% else %}
					<td><a class="pbi-title" data-toggle="tooltip" data-placement="top">{{ i.pbi.title }}</a></td>
					<td>{{ i.pbi.status }}</td>
					<td>{{ i.sprint_number }}</td>
					<td>{{ i.pbi.ESP }}</td>
					<td width="25%"; style="text-align: justify;">{{ i.pbi.details }}</td>
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock content %}
