
{% extends "base.html" %}
{% block content %}
<style>
th, td {
	padding: 10px;
	text-align: center;
}

</style>
	<h2>PRODUCT BACKLOG</h2>
	<button class="btn btn-outline-info"><a href="{% url 'productBacklog-create' project_id%}">Create New Item</a></button>

	<table style="width: 100%">
		<tr>
			<th>Priority</th>
    		<th>Title</th>
    		<th>Status</th>
    		<th>Sprint <br/> number</th>
    		<th>Estimated<br/>story point</th>
    		<th>Detail</th>
    	</tr>
		{% for PBI in dict %}
		<tr>
			<td>{{ PBI.priority }}</td>
			<td><a class='pbi-title' href="{% url 'productBacklog-detail' project_id PBI.id%}">{{ PBI.title }}</a></td>
			<td>{{ PBI.status }}</td>
			<td> to do </td>
			<td>{{ PBI.ESP }}</td>
			<td width="35%"; style="text-align: justify;">{{ PBI.details }}</td>
		</tr>
		{% endfor %}
	</table>
{% endblock content %}
