{% extends "base_noSidebar.html" %}
{% block content %}	
<div class="content-section">
	<h2>{{user.username}}</h2>
	<h5 class="text-secondary">Profile</h5>
	<div class="border-top pt-3">
          <p class="text-secondary">Full name: {{ user.first_name }} {{ user.last_name }}</p>
          <p class="text-secondary">Email: {{ user.email }}</p> 
          <p class="text-secondary">Joining Date: {{ user.date_joined }}</p> 

		{%if user.position == '1'%}
			<p class="text-secondary">Position: Product owner</p>
		{%endif%}

		{%if user.position == '2'%}
			<p class="text-secondary">Position: Manager</p>
		
		{%endif%}

		{%if user.position == '3'%}
			<p class="text-secondary">Position: Developer</p>
			<p class="text-secondary">Latest velocity: {{ velocity }} (hours)</p>
		{%endif%}

	</div>
</div>


{% endblock content %}