{% extends "base_noSidebar.html" %}
{% block content %}
<h1>ALL PROJECTS</h1>
{% if messages %}
		{% for message in messages %}
		<div class="alert alert-{{ message.tags}}">
			{{ message }}
		</div>
		{% endfor %}
{% endif %}
{% for project in projects %}
	<h2><a href="{% url 'productBacklog-home' project.slug %}">{{ project.title }}</a></h2>
	<p align="justify">{{ project.details }}</p>
	<a class="btn btn-outline-danger" href="{% url 'project-delete' project.slug %}">Delete project</a>
	<br/>
	<br/>
{% endfor %}

<a class="btn btn-outline-info" href="{% url 'project-create' %}">Create Project</a>
{% endblock content %}