{% extends "base_noSidebar.html" %}
{% load user_project %}
{% block content %}


{%user_project request as pp%}
	
	{%if user.id != None%}
		{%if pp != null%}
			<h1>ONGOING PROJECT</h1>
		{%endif%}
	{%else%}
		<div class="content-section">
			<h1> Welcome to BACKTRACK!</h1>
			<div class="border-top pt-3">
				<p>	        
					<a href="{% url 'login'%}">Login</a> OR
			  		<a href="{% url 'register'%}">Register</a>
			    </p>
			</div>
	    </div>
	{%endif%}

{%all_project request as ap%}


{%if user.is_authenticated %}
	{% for project in ap %}
		<div class="content-section">
		<h2><a class="text-info text-decoration-none" href="{% url 'productBacklog-home' project.slug %}">{{ project.title }}</a></h2>
		<div class="border-top pt-3">
			<p align="justify">{{ project.details }}</p>
		
			{%if user.position == '1'%}
				<a class="btn btn-outline-danger" href="{% url 'project-delete' project.slug %}">Delete project</a>
			{%endif%}
		</div>
		</div>
	{% endfor %}
{%endif%}
	
{%if user.position == '3'%}
	{%if pp == null%}
		<h1>No Project at the moment</h1>
		<br>
		<a class="btn btn-outline-info" href="{% url 'project-create' %}">Create Project</a>
	{%endif%}
{%endif%}
	


{% endblock content %}