{% extends "base_noSidebar.html" %}
{% block content %}


	
	
	{%if user.id != None%}
		{%if user.project_id != null%}
			<h1>ONGOING PROJECT</h1>
		{%endif%}
	{%else%}
		<h1> BACKTRACK </h1>
		<h5> 	        
	          		<a href="{% url 'login'%}">Login</a> OR
	          		<a href="{% url 'register'%}">Register</a></h5>
	{%endif%}



{% for project in projects %}
	{%if user.project_id == project%}
		<h2><a href="{% url 'productBacklog-home' project.slug %}">{{ project.title }}</a></h2>
		<p align="justify">Project detail: {{ project.details }}</p>

	
		{%if user.position == '1'%}
			<a class="btn btn-outline-danger" href="{% url 'project-delete' project.slug %}">Delete project</a>
		{%endif%}
	{%endif%}

	<br/>
{% endfor %}
	
{%if user.position == '3'%}
	{%if user.project_id == null%}
		<h1>NO PROJECT AT THE MOMENT</h1>
		<br>
		<a class="btn btn-outline-info" href="{% url 'project-create' %}">Create Project</a>
	{%endif%}
{%endif%}
	


{% endblock content %}