{% extends "base_noSidebar.html" %}
{% block content %}
<h1>Create Project</h1>
<div class="card w-50" >
	<div class="card-body">
	<form method="POST">
		{% if duplicate == 'True' %}
			<h3>The project already exists, or the project name is already taken.</h3>
		{% endif %}
	    {% csrf_token %}
	    {% for f in form %}
	    <div class="col">
	    	{{ f.label_tag }}
	    	<br>
			{{ f }}
		</div>
		<br>
		{% endfor %}
		<br>
		<div class="col">
			<h3>Select Scrum Master</h3>
			<select name="sm">
				{% for sm in SM %}
				<option value="{{sm.pk}}">{{ sm.username }}</option>
				{% endfor %}
			</select>
		</div>
		<br>
		<div class="col">
			<h3>Select Developers</h3>
			<select name="d" multiple>
				{% for d in D %}
				<option value="{{d.pk}}">{{ d.username }}</option>
				{% endfor %}
			</select>
		</div>
		<br>
		<h6>Please remember to select developers.</h6>
		<button class="btn btn-outline-info" type="submit">Save</button>
	</form>
	</div>
</div>
{% endblock content %}
