{% extends "base_noSidebar.html" %}

{% block content %}




	<h1>Project Name: {{project_check}}</h1>
	<br>
	<br>
	<br>

	<h3>Product Owner</h3>


	{%for user in users%}
		{%if user.position == '1'%}
			{%for project in user.project.all%}
				{%if project == project_check%}
				<a href="{% url 'user-detail' user.pk%}">{{user.username}} </a>
				<br>
				{%endif%}
			{%endfor%}
		{%endif%}
	{%endfor%}

	<br>
	



	<h3>Manager</h3>


	{%for user in users%}
		{%if user.position == '2'%}
			{%for project in user.project.all%}
				{%if project == project_check%}
				<a href="{% url 'user-detail' user.pk%}">{{user.username}} </a>
				<br>
				{%endif%}
			{%endfor%}
		{%endif%}
	{%endfor%}

	<br>

	<h3>List of developers</h3>
	

	{%for user in users%}
		{%if user.position == '3'%}
			{%for project in user.project.all%}
				{%if project == project_check%}
				<a href="{% url 'user-detail' user.pk%}">{{user.username}} </a>
				<br>
				{%endif%}
			{%endfor%}
		{%endif%}
	{%endfor%}


{% endblock content %}