{% extends "base_noSidebar.html" %}

{% block content %}



<div class="content-section">
	<h1>{{project_check}}</h1>
	<h4 class="text-secondary">Members</h4>
	<div class="border-top pt-3">

	<h5>Product Owner</h5>


	{%for user in users%}
		{%if user.position == '1'%}
			{%for project in user.project.all%}
				{%if project == project_check%}
				<a href="{% url 'user-detail' user.pk%}">{{user.username}} </a>
				<br>
				{%endif%}
			{%endfor%}
		{%endif%}
	{%endfor%}



	<h5 class="mt-3" >Manager</h5>


	{%for user in users%}
		{%if user.position == '2'%}
			{%for project in user.project.all%}
				{%if project == project_check%}
				<a href="{% url 'user-detail' user.pk%}">{{user.username}} </a>
				<br>
				{%endif%}
			{%endfor%}
		{%endif%}
	{%endfor%}


	<h5 class="mt-3">Developers</h5>
	

	{%for user in users%}
		{%if user.position == '3'%}
			{%for project in user.project.all%}
				{%if project == project_check%}
				<a href="{% url 'user-detail' user.pk%}">{{user.username}} </a>
				<br>
				{%endif%}
			{%endfor%}
		{%endif%}
	{%endfor%}
	</div>
</div>
{% endblock content %}